*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
*.apk
*.ap_
*.aab
*.dex
*.class
bin/
gen/
out/
.idea/
*.hprof
.cxx/
local.properties
*.keystore
*.jks
secrets.properties
.kotlin/
app/release/
app/debug/
*.log
.DS_Store
Thumbs.db
